:root {
  --light-brown: #e0e2e3; /* #e8dcd2; */
  --dark-brown: #5b8cae;

  /*Not used*/
  --light-brown-green: #c0baad;
}

html {
  font-family: "Encode Sans Semi Expanded", sans-serif;
}

body {
  margin: 0;
}

/*---BLOCK => BUTTON GO TOP---*/

.button-go-top {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 5;
  padding: 8px 5px;
  margin: 5px;
  background-color: #fff;
  border-radius: 4px;
}

.button-go-top:hover {
  background-color: var(--dark-brown);
}

.button-go-top:hover .button-go-top__symbol {
  fill: #fff;
}

.button-go-top__symbol {
  fill: var(--dark-brown);
}

.button-go-top__symbol {
  width: 40px;
}

.button-go-top__text {
  display: block;
}

.go-to-frontend {
  position: fixed;
  bottom: 1.4rem;
  left: 0;
  font-size: 0.65rem;
  z-index: 15;
  background-color: rgba(0, 117, 137, 0.5);
  text-decoration: none;
  padding: 0.1rem 0.6rem;
  color: white;
  border-radius: 0 10px 10px 0;
}

.go-to-frontend:hover {
  background-color: rgb(0, 117, 137);
}

@media (max-width: 680px) {
  .go-to-frontend {
    background-color: rgb(0, 117, 137);
  }
}

.main-container {
  max-width: 900px;
  margin: 0 auto;
}

.header-wrapper {
  min-height: 100vh;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
}

.header {
  width: 100%;
}

.header > .title {
  text-align: center;
  margin-bottom: 4rem;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  padding: 1rem;
}

.profession {
  margin-top: 0;
  font-size: 3.4em;
  font-weight: 700;
}

.name {
  font-size: 2.5em;
  margin: 0;
  font-weight: 400;
}

.about {
  background-color: var(--light-brown);
  margin: 0;
  padding: 1.5rem;
  grid-column: 3;
  text-align: justify;
  font-size: 0.9rem;
}

.navigation {
  display: flex;
}

.navigation > ul {
  margin: auto;
  list-style-type: none;
  padding: 0;
}

.navigation > ul li a {
  text-align: center;
  padding: 0.8rem;
  display: block;
  color: #383838;
  text-decoration: none;
  position: relative;
  z-index: 0;
}

.navigation > ul li a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--light-brown);
  height: 0%;
  transition: height 0.5s;
  z-index: -1;
}

.navigation > ul li a:hover::after,
.navigation > ul li a:focus::after {
  height: 100%;
}

.navigation > ul li a:hover,
.navigation > ul li a:focus {
  color: #000;
}

@media (max-width: 680px) {
  .header {
    display: block;
    width: 100%;
  }
  .navigation > ul li a {
    color: #000;
  }
  .about {
    background-image: linear-gradient(var(--light-brown), #f8f8f8);
  }
}

.section-title {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  padding-top: 1rem;
  font-weight: normal;
  font-family: 'Raleway', sans-serif;
}

.section-title-projects {
  padding-bottom: 1rem;
}

.projects-section-header {
  margin-bottom: 12rem;
}

.project-type-selector {
  display: block;
  margin: auto;
  width: 12rem;
  padding: 0.4rem;
  font-size: 1.1rem;
  border: 1px solid #856565;
}

@media (max-width: 380px) {
  .title {
    font-size: 4.5vw;
  }
  .section-title-projects {
    padding-bottom: 6rem;
  }
}

/*TOGGLER*/

.navbar-main__toggle-checkbox {
  display: none;
}

.navbar-main__toggle-checkbox:checked ~ .navigation > ul {
  transform: translateX(0%);
  transition-delay: 0s;
}
.navbar-main__toggle-checkbox:checked ~ .navigation > ul li {
  /*shows - hides the menu*/
  transform: translateX(0%);
}

.navbar-main__toggle-label {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
}

.navbar-main__toggle-label:hover {
  cursor: pointer;
}

.navbar-main__icon-hamburger {
  display: block;
  width: 30px;
  height: 50px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: rgba(133, 101, 101, 0.4);
  stroke: #fff;
  stroke-width: 10;
}

@media (max-width: 680px) {
  /*TOGGLER*/
  .navbar-main__toggle-label {
    display: block;
  }
}

/**********************/
/***SECTION PROJECTS***/
/**********************/

.projects-container {
  padding-bottom: 15rem;
  background-color: #f8f8f8;
}

.list-projects {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  position: relative;
  background-color: var(--light-brown);
}

.list-projects li {
  z-index: 1;
}

.list-projects::before {
  content: "";
  position: absolute;
  bottom: 100%;
  height: 200px;
  width: 100%;
  background: url(../img/triangle-up.svg) no-repeat bottom;
  background-size: 100%;
}

.list-projects::after {
  content: "";
  position: absolute;
  top: 100%;
  height: 16%;
  width: 100%;
  background: url(../img/triangle-down.svg) no-repeat bottom;
  background-size: 100%;
}

.project__info {
  display: block;
  color: grey;
  font-style: italic;
}

@media (max-width: 380px) {
  .list-projects::after {
    height: 8%;
  }
}

.project button:hover img,
.project button:focus img {
  opacity: 1;
}

.project button:hover p,
.project button:focus p {
  font-weight: bold;
  font-size: 0.82rem;
}

.project button {
  padding: 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  font-family: "Encode Sans Semi Expanded", sans-serif;
}

.project button img {
  width: 100%;
  outline: 10px solid #fff;
  vertical-align: middle;
}

@media (max-width: 680px) {
  .project button img {
    opacity: 1;
  }
}

/* PROJECTS LOCATION IN THE GRID */

.item1 {
  transform: translateY(-50%);
}

.item2 {
  grid-column: 3;
  transform: translateY(50%);
}

.item3 {
  grid-column: 5;
}

.item4 {
  grid-column: 2;
  grid-row: 2;
  transform: translateX(-50%);
}

.item5 {
  grid-column: 4;
  grid-row: 3;
}

.item6 {
  grid-column: 2;
  grid-row: 3;
  transform: translateY(50%);
}

.item7 {
  grid-column: 6;
  grid-row: 3;
  transform: translateY(-50%);
}

.item8 {
  grid-column: 5;
  grid-row: 4;
  transform: translateX(50%);
}

.item9 {
  grid-row: 5;
}

.item10 {
  grid-column: 4;
  grid-row: 5;
  transform: translate(-50%, -50%);
}

.item11 {
  grid-column: 6;
  grid-row: 5;
  transform: translateY(50%);
}

.item12 {
  grid-row: 6;
  grid-column: 2;
  transform: translateY(50%);
}

.item13 {
  grid-row: 6;
  grid-column: 4;
}

@media (max-width: 680px) {
  .list-projects {
    grid-template-columns: 1fr 2rem 1fr 2rem 1fr;
  }
  .item1 {
    transform: translateY(-30%);
  }
  .item2 {
    transform: translateY(30%);
  }
  .item3 {
    grid-column: 5;
  }
  .item4 {
    grid-column: 1;
    transform: none;
  }
  .item5 {
    grid-column: 5;
    grid-row: 2;
    transform: translateY(50%);
  }
  .item6 {
    grid-column: 3;
    transform: translateY(-25%);
  }
  .item7 {
    grid-column: 1;
    grid-row: 4;
    transform: translateY(-30%);
  }
  .item8 {
    grid-column: 3;
    transform: translateY(40%);
  }
  .item9 {
    grid-row: 4;
    grid-column: 5;
    transform: translateY(20%);
  }
  .item10 {
    grid-column: 1;
    transform: none;
  }
  .item11 {
    grid-column: 5;
  }
  .item12 {
    grid-column: 1;
  }
  .item13 {
    grid-column: 3;
  }
}

@media (max-width: 380px) {
  .list-projects {
    grid-template-columns: 1fr 1rem 1fr;
  }
  .item1 {
    transform: translateY(0%);
  }
  .item3 {
    grid-column: 1;
    grid-row: 2;
  }
  .item4 {
    grid-column: 3;
    transform: translateY(30%);
  }
  .item5 {
    grid-column: 1;
    grid-row: 3;
    transform: translateY(0%);
  }
  .item6 {
    transform: translateY(30%);
  }
  .item7 {
    transform: translateY(0%);
  }
  .item8 {
    transform: translateY(30%);
  }
  .item9 {
    grid-row: 5;
    grid-column: 1;
    transform: translateY(0%);
  }
  .item10 {
    grid-column: 3;
    transform: translateY(30%);
  }
  .item11 {
    grid-column: 1;
    grid-row: 6;
    transform: translateY(0%);
  }
  .item12 {
    grid-row: 7;
    transform: translateY(0%);
  }
  .item13 {
    grid-row: 7;
    transform: translateY(-50%);
  }
}

/************************/
/***SECTION CURRICULUM***/
/************************/

.curriculum {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
}

.curriculum__link {
  font-size: 0.8rem;
}

.curriculum a {
  color: #000;
  text-decoration: none;
}

.curriculum div {
  width: 100%;
}

.list-studies,
.list-experiences {
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.experience__period {
  font-size: 0.8rem;
  margin: 0;
}

@media (max-width: 680px) {
  .list-studies,
  .list-experiences {
    grid-template-columns: repeat(2, 1fr);
  }
  .curriculum {
    padding-bottom: 3rem;
  }
}
@media (max-width: 380px) {
  .list-studies,
  .list-experiences {
    grid-template-columns: repeat(1, 1fr);
  }
}

.list-studies li,
.list-experiences li {
  background-color: var(--light-brown);
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.list-studies li h3,
.list-experiences li h3 {
  flex-grow: 1;
}

/*********************/
/***SECTION CONTACT***/
/*********************/

.contact {
  grid-column: 2/4;
  background-color: #f8f8f8;
}

.contact-info {
  text-align: center;
  padding: 1rem;
}

.contact-info a {
  display: block;
  color: #000;
}

.email {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.email .tooltip {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  border-radius: 4px;
  padding: 4px;
  position: absolute;
  z-index: 1;
  bottom: 80%;
  left: 44%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.email .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.email:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  max-height: 100%;
  max-width: 800px; /*Here change size of modal window*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* The Close Button */
.close {
  float: right;
  font-size: 1.5rem;
  border-style: none;
  background-color: #fff;
  padding: 0;
  line-height: 2rem;
  color: #888;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 0.8rem;
  background-color: #fff;
  text-align: center;
}

.modal-header h2 {
  margin: 0;
  display: inline-block;
  line-height: 1.6rem;
  font-size: 1.2rem;
}

.modal-header h2 span {
  color: #383838;
  font-weight: normal;
  font-size: 1rem;
}

.modal-body img,
.modal-body video {
  width: 100%;
  display: block;
}

.modal-footer {
  margin: 0;
  padding: 0.8rem;
  background-color: #fff;
  text-align: center;
}

.projectSlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 100px 16px;
  margin-top: -110px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

.next:hover {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}

.prev:hover {
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}